app:
  jwtSecret: ${JWT_SECRET}
  jwtExpirationMs: 604800000 # 7 days in milliseconds (604,800,000)
  backend-link: "http://localhost:8080/"
  frontend-link: "http://localhost:3000/"
  mail:
    from-name: "LearnNow"
    from-email: ${MAIL_USERNAME}
spring:
  config:
    import: optional:file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/${DB_NAME:byt}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true