app:
  jwtSecret: ${JWT_SECRET}
  jwtExpirationMs: 604800000 # 7 days in milliseconds (604,800,000)
  backend-link: ${APP_BACKEND_LINK:"http://localhost:8081/"}
  frontend-link: ${APP_FRONTEND_LINK:"http://localhost:8099/"}
  mail:
    from-name: "LearnNow"
    from-email: ${MAIL_USERNAME}
spring:
  config:
    import: optional:file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${MYSQL_PORT:3307}/${DB_NAME:byt}
    username: ${DB_USER:root}
    password: ${DB_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile