app:
  jwtSecret: ${JWT_SECRET}
  jwtExpirationMs: 604800000 # 7 days in milliseconds (604,800,000)
  backend-link: ${APP_BACKEND_LINK:https://learnnow.ovh/}
  frontend-link: ${APP_FRONTEND_LINK:https://learnnow.ovh/}
  mail:
    from-name: "LearnNow"
    from-email: ${MAIL_USERNAME}
logging:
  level:
    org.springframework.mail: DEBUG
    org.springframework.mail.javamail: DEBUG
    com.learnnow.email: DEBUG
    com.learnnow.auth.service: DEBUG # upewnij się, że to poprawny pakiet
spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    url: jdbc:mysql://${DB_HOST:mysql}:${MYSQL_PORT:3306}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        debug: true
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
